

body {
	font-family: cursive;
	background: linear-gradient( 140deg , #EADEDB 0%, #BC70A4 50%, #BFD641 75%)
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background: wheat;
	padding: 25px;
}
#content > h2 {
	font-size: 14px;
	text-align: center;
	padding-top: 0;
	
}

#content > h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: solid black;
}

.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	color:red;
	background: skyblue;
}


footer {
	margin-top:44.5vh;
	color: black;
}

h5{
	margin-top: -15%;
	font-weight: bolder;
}

#add-btn {
	background-color: blueviolet;
	border-color: red;
}

#add-btn:hover{
	background-color: crimson;
	border-color: darkgrey;
	font-family: monospace;
}

.btn-warning{
	background-color: royalblue;
}

.btn-warning:hover{
	background-color: indianred;
	border-color: darkred;
	font-family: monospace;
}

.btn-danger{
	background-color: crimson;
}

.btn-danger:hover{
	background-color: gray;
	font-family: monospace;
}
